// COLORS
$c-white: #fff;
$c-black: #000;
$c-lotion: #fafafa;
$c-dark-charcoal: #333333;
$c-blue-light: #164c78;
$c-blue-line: #a4c3dd;
// FONT-SIZE
$fs-base: 16;
//  TRANSITION
$t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
// BOX-SHADOW
$bs-normal: 3px 4px 7px rgba($c-black, 0.1);
// FONT-FAMILY
$ff-base: 'Ubuntu', sans-serif;
