extends ./src/_extends/common

block title 
  title Nazar Yaremii 

block styles
  link(rel="stylesheet" href="index.css")
  link(rel="shortcut icon" href="./assets/images/favicon/favicon.ico" type="image/x-icon")

block main 
  .app
    +content
